@page
@model PackageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-9 col-lg-6 col-xl-5 mx-auto">
    <div class="text-center">
        <h3>Package</h3>
    </div>

    <form method="post">
        <div class="form-group form-outline mb-4">
            <label asp-for="SelectedPackage.ResidentID">Resident</label>
            <select asp-items="Model.ResidentDropDown" asp-for="SelectedPackage.ResidentID" class="form-control">
                <option value="">-- select Resident --</option>
            </select>
            <span asp-validation-for="SelectedPackage.ResidentID" class="text-danger"></span>
        </div>

        <div class="form-group form-outline mb-4">
            <label asp-for="SelectedPackage.PostalServiceAgency">Postal Service Agency</label>
            <select asp-for="SelectedPackage.PostalServiceAgency" class="form-control">
                <option value="DHL">DHL</option>
                <option value="FedEx">FedEx</option>
                <option value="UPS">UPS</option>
                <option value="USPS">USPS</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="SelectedPackage.PostalServiceAgency" class="text-danger"></span>
        </div>


        <div class="form-group form-outline mb-4">
            <label asp-for="SelectedPackage.PackageStatus">Package Status</label>
            <select asp-for="SelectedPackage.PackageStatus" class="form-control">
                <option value="Awaiting Pick-up">Awaiting Pick-up</option>
                <option value="Fulfilled">Fulfilled</option>
                <option value="Unknown/Return to Sender">Unknown/Return to Sender</option>
                <option value="Returned to Sender">Returned to Sender</option>
            </select>
            <span asp-validation-for="SelectedPackage.PackageStatus" class="text-danger"></span>
        </div>

        <div class="form-group form-outline mb-4">
            <label asp-for="SelectedPackage.TrackingCode">Tracking Code</label>
            <input asp-for="SelectedPackage.TrackingCode" class="form-control">
            <span asp-validation-for="SelectedPackage.TrackingCode" class="text-danger"></span>
        </div>
        <div class="form-outline mb-4">
            <input  type="submit" class="btn btn-primary" value="Update">
        </div>
    </form>

</div>