@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BuffMail Management</h1>
    <hr/>

    <h2>Log In</h2>
    <label><input type="text">Username:</label>
    <label><input type="password">Password:</label>
</div>
